# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.cache
RufanWeb/.idea
RufanWeb/target
RufanWeb/out
RufanWeb/logs
*.ipr
*.iws
*.11
/out/
RufanWeb/out
RufanWeb/tmp
RufanWeb/project/project
RufanWeb/project/target
RufanWeb/server.pid

