@(tournaments: List[is.rufan.tournament.domain.Tournament])

@import play.api.Play.current

@main() {

    @if(session.get("username")) {
        <h2>Welcome to RuFan</h2>
        <div class="jumbotron">
            <h1>RuFan - Daily Fantasy Sport</h1>
            <p>Good to see you again @{session.get("displayName")}!</p>
            <a href="/tournaments" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-search"></span> Tournaments</a>
        </div>
        <div class="table-responsive jumbotron">
            <table class="table table-striped">
                <tr><th>Active Tournaments</th><th></th><th></th><th></th><th></th></tr>
                <tr><th>Name</th><th>Start Time</th><th>End Time</th><th>Entry Fee</th><th>League</th></tr>
            @for(tournament <- tournaments){
                <tr>
                    <td><a href="tournaments/@tournament.getId">@tournament.getName</a></td>
                    <td>@tournament.getStartDate</td>
                    <td>@tournament.getEndDate</td>
                    <td>kr. @tournament.getEntryFee-</td>
                    <td>EPL</td>
                </tr>
            }
            </table>
        </div>

    } else {
        <div id="FrontPageImageDiv">
        <image id="FrontPageImage" src="@routes.Assets.versioned("/images/RuFan-FrontPageLogo.png")"/>
        </div>
    }
}