@(teams: List[is.rufan.team.domain.Team], signupForm: Form[is.rufan.user.domain.UserRegistration], user: is.rufan.user.domain.User, cc: String)

@import play.api.Play.current
@import helper._

@main("Rufan - Profile") {

  <h2>Welcome to RuFan</h2>

  @if(session.get("username")) {
    <div class="table-responsive">
      <table class="table">
        <tr><td>Display Name:</td><td>
          @user.getName
        </td>
        </tr>
        <tr>
          <td>Username:</td><td>
          @user.getUsername
        </td>
        </tr>
        <tr>
          <td>Email:</td><td>
          @user.getEmail
        </td>
        </tr>
        <tr>
          <td>Favorite Team</td><td>
          @if(!user.getFavTeamId.equals(0)) {
            @for(team <- teams) {
              @if(team.getTeamId.equals(user.getFavTeamId)){
                @team.getDisplayName
              }
            }
          }
        </td>
        </tr>
        <tr>
          <td>Creditcard Number</td><td>
          @if(!cc.contains(' ')){
            @for(i <- 1 to 3){
              @for(i <- 1 to 4) {<span class="glyphicon glyphicon-asterisk"></span>}
            }
            <span id="cardnumber">@cc</span>
          }
        </td>
        </tr>
        <tr>
          <td>Expiration Date</td><td>
          @user.getCardMonth / @user.getCardYear
        </td>
        </tr>
      </table>
    </div>

    @helper.form(action = routes.ProfileController.update) {
      <fieldset>
        <legend>Favorite Team</legend>
      <label>Pick Your Favorite Team</label>

      <select class="form-control" name="favteam">
        <option value="-">-</option>
        <option value="0">None</option>
      @for(team <- teams) {
        <option value="@team.getTeamId">@team.getDisplayName</option>
      }
      </select>
      </fieldset>
      <fieldset>
        <legend>Credit card information</legend>
        @inputRadioGroup(
          signupForm("creditCardType"),
          options = Seq("Visa" -> "Visa", "Mastercard" -> "Mastercard"),
          '_label -> "Credit card type",
          '_error -> "Please choose a card type"
        )
        @inputText(
          signupForm("cardNumber"),
          '_label -> "Credit card number",
          '_help -> "Type your credit card number",
          '_error -> signupForm.globalError
        )

        <dl class="">
          <dt><label for="creditCardExpDate">Card expiration date</label></dt>
          <dd>
            <label >Month</label>
            <select name="cardMonth">
              <option value="-">-</option>
            @for(i <- 1 to 12) {
              @if(i < 10) {
                options += "<option value="@i"> 0@i</option>";
              } else {
                options += "<option value="@i">@i</option>";
              }
            }
            </select>

          </dd>
          <dd>
            <label >Year</label>
            <select name="cardYear">
              <option value="-">-</option>
            @for(i <- 15 to 20) {
              options += "<option value="@i">@i</option>";
            }
            </select>
          </dd>
        </dl>
        @inputText(
          signupForm("securityCode"),
          '_label -> "SSC",
          '_help -> "Type your credit card security code",
          '_error -> signupForm.globalError
        )
      </fieldset>

      <div class="actions">
        <input type="submit" class="btn btn-primary" value="Update">
        <a href="@routes.Application.index" class="btn">Cancel</a>
      </div>

    }
  } else {
    Not Logged In.
  }
}
