@(teams: List[is.rufan.team.domain.Team])

@import play.api.Play.current

@main("Rufan - Profile") {

  <h2>Welcome to RuFan</h2>

  @if(session.get("username")) {
    <div class="table-responsive">
        <table class="table">
          <tr><td>Display Name:</td><td>@{session.get("displayName")}</td>
          </tr>
          <tr>
            <td>Username:</td><td>@{session.get("username")}</td>
          </tr>
          <tr>
            <td>Email:</td><td>@{session.get("email")}</td>
          </tr>
        </table>
    </div>

    <label>Pick Your Favorite Team</label>
    <select class="form-control">
      @for(team <- teams){
        <option>@team.getDisplayName</option>
      }
    </select>

  } else {
    Not Logged In.
  }
}