@(tournament: is.rufan.tournament.domain.Tournament, players: List[is.rufan.player.domain.Player])

@import play.api.Play.current

@main("Rufan - Tournaments") {

  <h2>Tournament</h2>

  @if(session.get("username")) {
    <h2>@tournament.getName</h2>
    <select name="players">
    @for(player <- players){
        @if(!player.getPositions.isEmpty) {
          @if(player.getPositions.get(0).getPositionId.equals(1)) {
            <option value="@player.getPlayerId">@player.getFirstName @player.getLastName</option>
          }
        }
    }
    </select>

  } else {
    Not Logged In.
  }
}