@(tournament: is.rufan.tournament.domain.Tournament, players: List[is.rufan.player.domain.Player], usersPlayers: List[is.rufan.player.domain.Player])

@import play.api.Play.current

@main("Rufan - Tournaments") {

  <h2>Tournament</h2>

  @if(session.get("username")) {
    <h2>@tournament.getName</h2>

    <div class="row row-centered">
    @helper.form(action = routes.FantasyTeamController.buildFantasyTeam(tournament.getId)) {
      <div class="fantasyPlayerField">
      <fieldset>
      <select name="GoalKeeper">
        <option value="-">-</option>
      @for(player <- players){
        @if(!player.getPositions.isEmpty) {
          @for(j <- 0 to player.getPositions.size-1) {
            @if(player.getPositions.get(j).getPositionId.equals(1)){
              <option value="@player.getPlayerId">@player.getFirstName @player.getLastName</option>
            }
          }
        }
      }
      </select>
      </fieldset>
      </div>

      <div class="fantasyPlayerField">
      <fieldset>
      @for(i <- 1 to 4){
        <select name="Defender@i">
          <option value="-">-</option>
          @for(player <- players){
            @if(!player.getPositions.isEmpty) {
              @if(player.getPositions.get(0).getPositionId.equals(4)) {
                <option value="@player.getPlayerId">@player.getFirstName @player.getLastName</option>
              }
            }
          }
        </select>
      }
      </fieldset>
      </div>

      <div class="fantasyPlayerField">
      <fieldset>
      @for(i <- 1 to 4){
        <select name="Midfielder@i">
          <option value="-">-</option>
          @for(player <- players){
            @if(!player.getPositions.isEmpty) {
              @if(player.getPositions.get(0).getPositionId.equals(3)) {
                <option value="@player.getPlayerId">@player.getFirstName @player.getLastName</option>
              }
            }
          }

        </select>
      }
      </fieldset>
        </div>

      <div class="fantasyPlayerField">
      <fieldset>
      @for(i <- 1 to 2){
        <select name="Forward@i">
          <option value="-">-</option>
          @for(player <- players){
            @if(!player.getPositions.isEmpty) {
              @if(player.getPositions.get(0).getPositionId.equals(2)) {
                <option value="@player.getPlayerId">@player.getFirstName @player.getLastName</option>
              }
            }
          }

        </select>
      }
      </fieldset>
          </div>

      <div class="actions">
        <input type="submit" class="btn btn-primary" value="Build Team">
        <a href="@routes.Application.index" class="btn">Cancel</a>
      </div>
    }
    </div>


      @if(usersPlayers != null){
        <li>
        @for(player <- usersPlayers){
          <ul>@player.getFirstName @player.getLastName</ul>
        }
        </li>
      }


  } else {
    Not Logged In.
  }
}